.container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Add max-width for a centered box */
  margin: 0 auto; /* Center the container */
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.search-input {
  width: 100%; /* Make the search input full width */
  padding: 10px; /* Add padding for comfort */
  margin-bottom: 20px; /* Space between input and packages */
  border: 1px solid #ccc; /* Border for the search input */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

ul {
  list-style-type: none;
  padding: 0;
}

.package-box {
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff; /* White background for each package */
}

h2 {
  margin: 0;
  font-size: 20px;
}

p {
  margin: 5px 0;
}
